<form id="pagerForm" method="post" action="{:url('auth')}">
    <input type="hidden" name="pageNum" value="1" />
    <input type="hidden" name="numPerPage" value="{$Think.post.numPerPage}" />
    <input type="hidden" name="name" value="{$Think.post.name}" />
    <input type="hidden" name="menu_id" value="{$Think.post.menu_id}" />
    <input type="hidden" name="operate_time_start" value="{$Think.post.operate_time_start}" />
    <input type="hidden" name="operate_time_end" value="{$Think.post.operate_time_end}" />
    <input type="hidden" name="orderField" value="{$Think.post.orderField}" />
    <input type="hidden" name="orderBy" value="{$Think.post.orderBy}" />
</form>

<form onsubmit="return navTabSearch(this);" id="pageList" action="" method="post" onreset="$(this).find('select.combox').comboxReset()">
    <div class="pageHeader">
        <div class="searchBar">
            <table class="searchContent">
                <tr>
                    <td>
                        权限名称：<input type="text" name="name" />
                    </td>
                    <td>
                        <select class="combox" name="menu_id" rel="pageForm">
                            <option value="">-所属菜单-</option>
                            {foreach name='menu_list' item='menu'}
                            {if condition="($Think.post.menu_id!='') AND ($Think.post.menu_id==$menu.id)"}
                            <option value="{$menu.id}" selected>{$menu.name}</option>
                            {else /}
                            <option value="{$menu.id}">{$menu.name}</option>
                            {/if}
                            {/foreach}
                        </select>
                    </td>
                    <td class="dateRange">
                        更新日期:
                        <input name="operate_time_start" rel="pageForm" class="date readonly" readonly="readonly" type="text" value="{$Think.post.operate_time_start}">
                        <span class="limit">-</span>
                        <input name="operate_time_end" rel="pageForm" class="date readonly" readonly="readonly" type="text" value="{$Think.post.operate_time_end}">
                    </td>
                    <td class="dateRange">
                        <select class="combox" name="orderField" rel="pageForm">
                            <option value="">排序条件</option>
                            {foreach name='orderField' item='val'}
                            {if condition="($Think.post.orderField!='') AND ($Think.post.orderField==$key)"}
                            <option value="{$key}" selected>{$val}</option>
                            {else /}
                            <option value="{$key}">{$val}</option>
                            {/if}
                            {/foreach}
                        </select>
                    </td>
                    <td class="dateRange">
                        <select class="combox" name="orderBy" rel="pageForm">
                            {foreach name='orderBy' item='val'}
                            {if condition="($Think.post.orderBy!='') AND ($Think.post.orderBy==$key)"}
                            <option value="{$key}" selected>{$val.name}</option>
                            {else /}
                            {if condition="$val.is_default==1"}
                            <option value="{$key}" selected>{$val.name}</option>
                            {else /}
                            <option value="{$key}">{$val.name}</option>
                            {/if}
                            {/if}
                            {/foreach}
                        </select>
                    </td>
                </tr>
            </table>
            <div class="subBar">
                <ul>
                    <li><div class="button"><div class="buttonContent"><button type="reset">重置</button></div></div></li>
                    <li><div class="buttonActive"><div class="buttonContent"><button type="submit">检索</button></div></div></li>
                </ul>
            </div>
        </div>
    </div>

    <!--<p>{$sql}</p>-->

    <div class="pageContent">
        <div class="panelBar">
            <ul class="toolBar">
                <li><a class="add" href="{:url('system/addAuth')}" target="navTab"><span>添加权限</span></a></li>
            </ul>
        </div>
        <table class="table" id="table_header" width="100%" layoutH="138">
            <thead>
            <tr>
                <th width="30" align="center">选项</th>
                <th width="40" align="center">序号</th>
                <th width="60" align="center">权限ID</th>
                <th width="120" align="center">权限名称</th>
                <th width="240" align="center">描述</th>
                <th width="150" align="center">所属菜单</th>
                <th width="120" align="center">更新人</th>
                <th width="140" align="center">更新时间</th>
                <th align="center">操作</th>
            </tr>
            </thead>
            <tbody class="table_list">
            {foreach name='auth_list' key='i' item='auth'}
            <tr height="30">
                <td><input type="checkbox" name="checkid[]" id="checkid{$auth.id}" value="{$auth.id}"/></td>
                <td>{++$i}</td>
                <td>{$auth.id}</td>
                <td>{$auth.name}</td>
                <td>{$auth.desc}</td>
                <td>{$menu_name[$auth.menu_id]}</td>
                <td>{$user_name[$auth.operate_id]}</td>
                <td>{$auth.operate_time}</td>
                <td>
                    <div class="panelBar" style="text-align:center;background:none;border:none;">
                        <ul class="toolBar" style="display:inline-block;">
                            <li><a class="edit" href="{:url('updateAuth')}?id={$auth.id}" target="navTab"><span>修改</span></a></li>
                            <li><a class="delete" href="{:url('deleteAuth')}?id={$auth.id}" target="ajaxTodo" title="确定要删除吗?"><span>删除</span></a></li>
                        </ul>
                    </div>
                </td>
            </tr>
            {/foreach}
            </tbody>
        </table>
        <div class="panelBar">
            <div class="pages">
                <span>显示</span>
                <select class="combox" name="numPerPage" rel="pageForm" onchange="navTabPageBreak({numPerPage:this.value})">
                    {foreach name='page_list' item='val'}
                    {if condition="($numPerPage!='') AND ($numPerPage==$key)"}
                    <option value="{$key}" selected>{$val}</option>
                    {else /}
                    <option value="{$key}">{$val}</option>
                    {/if}
                    {/foreach}
                </select>
                <span>条，共{$auth_list->total()}条</span>
            </div>
            <div class="pagination" targetType="navTab" totalCount="{$auth_list->total()}" numPerPage="{$Think.post.numPerPage}" pageNumShown="{$auth_list->lastPage()}" currentPage="{$auth_list->currentPage()}"></div>

        </div>
    </div>
</form>