<form onsubmit="return navTabSearch(this);" action="" method="post" onreset="$(this).find('select.combox').comboxReset()">
    <div class="pageHeader">
        <div class="searchBar">
            <table class="searchContent">
                <tr>
                    <td>
                        菜单名称：<input type="text" name="name" value="{$Think.post.name}"/>
                    </td>
                    <td>
                        <select class="combox" name="status">
                            <option value="">-状态-</option>
                            {foreach name='status' item='val'}
                                {if condition="($Think.post.status!='') AND ($Think.post.status==$key)"}
                                    <option value="{$key}" selected>{$val}</option>
                                {else /}
                                    <option value="{$key}">{$val}</option>
                                {/if}
                            {/foreach}
                        </select>
                    </td>
                    <td>
                        <select class="combox" name="pid">
                            <option value="">-上级菜单-</option>
                            {foreach name='parent_menu' item='menu'}
                                {if condition="($Think.post.pid!='') AND ($Think.post.pid==$menu.id)"}
                                    <option value="{$menu.id}" selected>{$menu.name}</option>
                                {else /}
                                    <option value="{$menu.id}">{$menu.name}</option>
                                {/if}
                            {/foreach}
                        </select>
                    </td>
                    <td class="dateRange">
                        添加日期:
                        <input name="create_time_start" class="date readonly" readonly="readonly" type="text" value="{$Think.post.create_time_start}">
                        <span class="limit">-</span>
                        <input name="create_time_end" class="date readonly" readonly="readonly" type="text" value="{$Think.post.create_time_end}">
                    </td>
                </tr>
            </table>
            <div class="subBar">
                <ul>
                    <li><div class="button"><div class="buttonContent"><button type="reset">重置</button></div></div></li>
                    <li><div class="buttonActive"><div class="buttonContent"><button type="submit">查询</button></div></div></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="pageContent">
        <div class="panelBar">
            <ul class="toolBar">
                <li><a class="add" href="{:url('addMenu')}" target="navTab"><span>添加菜单</span></a></li>
            </ul>
        </div>
        <table class="table" width="100%" layoutH="138">
            <thead>
            <tr>
                <th width="80" align="center">序号</th>
                <th width="200" align="center">菜单名称</th>
                <th width="200" align="center">菜单规则</th>
                <th width="150" align="center">菜单状态</th>
                <th width="80" align="center">排序</th>
                <th align="center">备注</th>
                <th width="240" align="center">操作</th>
            </tr>
            </thead>
            <tbody>
            {foreach name='menu_list' key='k' item='menu'}
            <tr height="30">
                <td>{++$k}</td>
                <td align="left" style="text-align:left;">&nbsp;&nbsp;{$menu.name}</td>
                <td>{$menu.rule}</td>
                <td>{$status[$menu.status]}</td>
                <td>{$menu.sort}</td>
                <td>{$menu.remark}</td>
                <td>
                    <div class="panelBar" style="text-align:center;background:none;border:none;">
                        <ul class="toolBar" style="display:inline-block;">
                            <li><a class="edit" href="{:url('updateMenu')}?id={$menu.id}" target="navTab"><span>修改</span></a></li>
                            <li><a class="delete" href="{:url('deleteMenu')}?id={$menu.id}" target="ajaxTodo" title="确定要删除吗?"><span>删除</span></a></li>
                        </ul>
                    </div>
                </td>
            </tr>
            {/foreach}
            </tbody>
        </table>
        <div class="panelBar">
            <div class="pages">
                <span>共{$total_menu}条</span>
            </div>
            <p>{$sql}</p>
        </div>
    </div>
</form>