<form id="pagerForm" method="post" action="{:url('user')}">
    <input type="hidden" name="pageNum" value="1" />
    <input type="hidden" name="numPerPage" value="{$Think.post.numPerPage}" />
    <input type="hidden" name="username" value="{$Think.post.username}" />
    <input type="hidden" name="nickname" value="{$Think.post.nickname}" />
    <input type="hidden" name="email" value="{$Think.post.email}" />
    <input type="hidden" name="main_group_id" value="{$Think.post.main_group_id}" />
    <input type="hidden" name="status" value="{$Think.post.status}" />
    <input type="hidden" name="register_time_start" value="{$Think.post.register_time_start}" />
    <input type="hidden" name="register_time_end" value="{$Think.post.register_time_end}" />
    <input type="hidden" name="orderField" value="{$Think.post.orderField}" />
    <input type="hidden" name="orderBy" value="{$Think.post.orderBy}" />
</form>

<form onsubmit="return navTabSearch(this);" id="pageList" action="" method="post" onreset="$(this).find('select.combox').comboxReset()">
    <div class="pageHeader">
        <div class="searchBar">
            <table class="searchContent">
                <tr>
                    <td>
                        用户名：<input type="text" name="username" style="width:80px;"/>
                    </td>
                    <td>
                        昵称：<input type="text" name="nickname" style="width:80px;"/>
                    </td>
                    <td>
                        email：<input type="text" name="email" style="width:80px;"/>
                    </td>
                    <td>
                        <select class="combox" name="status" rel="pageForm">
                            <option value="">-状态-</option>
                            {foreach name='status' item='val'}
                            {if condition="($Think.post.status!='') AND ($Think.post.status==$key)"}
                            <option value="{$key}" selected>{$val}</option>
                            {else /}
                            <option value="{$key}">{$val}</option>
                            {/if}
                            {/foreach}
                        </select>
                    </td>
                    <td>
                        <select class="combox" name="main_group_id" rel="pageForm">
                            <option value="">-所属分组-</option>
                            {foreach name='group_list' item='group'}
                            {if condition="($Think.post.main_group_id!='') AND ($Think.post.main_group_id==$group.id)"}
                            <option value="{$group.id}" selected>{$group.name}</option>
                            {else /}
                            <option value="{$group.id}">{$group.name}</option>
                            {/if}
                            {/foreach}
                        </select>
                    </td>
                    <td class="dateRange">
                        注册日期:
                        <input name="register_time_start" rel="pageForm" class="date readonly" readonly="readonly" type="text" value="{$Think.post.register_time_start}">
                        <span class="limit">-</span>
                        <input name="register_time_end" rel="pageForm" class="date readonly" readonly="readonly" type="text" value="{$Think.post.register_time_end}">
                    </td>
                    <td class="dateRange">
                        <select class="combox" name="orderField" rel="pageForm">
                            <option value="">排序条件</option>
                            {foreach name='orderField' item='val'}
                            {if condition="($Think.post.orderField!='') AND ($Think.post.orderField==$key)"}
                            <option value="{$key}" selected>{$val}</option>
                            {else /}
                            <option value="{$key}">{$val}</option>
                            {/if}
                            {/foreach}
                        </select>
                    </td>
                    <td class="dateRange">
                        <select class="combox" name="orderBy" rel="pageForm">
                            {foreach name='orderBy' item='val'}
                            {if condition="($Think.post.orderBy!='') AND ($Think.post.orderBy==$key)"}
                            <option value="{$key}" selected>{$val.name}</option>
                            {else /}
                            {if condition="$val.is_default==1"}
                            <option value="{$key}" selected>{$val.name}</option>
                            {else /}
                            <option value="{$key}">{$val.name}</option>
                            {/if}
                            {/if}
                            {/foreach}
                        </select>
                    </td>
                </tr>
            </table>
            <div class="subBar">
                <ul>
                    <li><div class="button"><div class="buttonContent"><button type="reset">重置</button></div></div></li>
                    <li><div class="buttonActive"><div class="buttonContent"><button type="submit">检索</button></div></div></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="pageContent">
        <div class="panelBar">
            <ul class="toolBar">
                <li><a class="add" href="{:url('system/addUser')}" target="navTab"><span>添加用户</span></a></li>
            </ul>
        </div>
        <table class="table" width="100%" layoutH="138">
            <thead>
            <tr>
                <th width="30" align="center">选项</th>
                <th width="30" align="center">序号</th>
                <th width="80" align="center">用户名</th>
                <th width="120" align="center">邮箱</th>
                <th width="100" align="center">昵称</th>
                <th width="60" align="center">状态</th>
                <th width="150" align="center">最后登录信息</th>
                <th width="80" align="center">主分组</th>
                <th width="100" align="center">附加分组</th>
                <th width="80" align="center">菜单列表</th>
                <th width="80" align="center">权限列表</th>
                <th width="80" align="center">注册时间</th>
                <th align="center">操作</th>
            </tr>
            </thead>
            <tbody class="table_list">
            {foreach name='user_list' key='k' item='user'}
            <tr height="30">
                <td><input type="checkbox" name="checkid[]" id="checkid{$user.id}" value="{$user.id}"/></td>
                <td>{++$k}</td>
                <td>{$user.username}</td>
                <td>{$user.email}</td>
                <td>{$user.nickname}</td>
                <td>{$status[$user.status]}</td>
                <td>{$user.last_login_time}<br/>{$user.last_login_ip}</td>
                <td>{$group_list[$user.main_group_id]['name']}</td>
                <td>{$user.sub_group_ids}</td>
                <td>{$user.menu_ids}</td>
                <td>{$user.auth_ids}</td>
                <td>{$user.register_time}</td>
                <td>
                    <div class="panelBar" style="text-align:center;background:none;border:none;">
                        <ul class="toolBar" style="display:inline-block;">
                            <li><a class="edit" href="{:url('updateUser')}?id={$user.id}" target="navTab"><span>修改</span></a></li>
                            <li><a class="delete" href="{:url('deleteUser')}?id={$user.id}" target="ajaxTodo" title="确定要删除吗?"><span>删除</span></a></li>
                        </ul>
                    </div>
                </td>
            </tr>
            {/foreach}
            </tbody>
        </table>
        <div class="panelBar">
            <div class="pages">
                <span>显示</span>
                <select class="combox" name="numPerPage" rel="pageForm" onchange="navTabPageBreak({numPerPage:this.value})">
                    {foreach name='page_list' item='val'}
                    {if condition="($numPerPage!='') AND ($numPerPage==$key)"}
                    <option value="{$key}" selected>{$val}</option>
                    {else /}
                    <option value="{$key}">{$val}</option>
                    {/if}
                    {/foreach}
                </select>
                <span>条，共{$user_list->total()}条</span>
            </div>
            <div class="pagination" targetType="navTab" totalCount="{$user_list->total()}" numPerPage="{$Think.post.numPerPage}" pageNumShown="{$user_list->lastPage()}" currentPage="{$user_list->currentPage()}"></div>

        </div>
    </div>
</form>
<script type="text/javascript" src="__STATIC__/admin/js/table.js"></script>